################################################################################
# Visual Studio
################################################################################
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

################################################################################
# Build results
################################################################################
bin/
obj/
Debug/
Release/
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.log

################################################################################
# Database & Cache files
################################################################################
*.db
*.db-shm
*.db-wal
*.cache
*.v2
*.v9.bin

################################################################################
# Backup & JSON
################################################################################
*.backup.json

################################################################################
# Angular / Node
################################################################################
node_modules/
dist/
npm-debug.log
yarn-error.log
package-lock.json
.env

################################################################################
# Others
################################################################################
*.lock.json
*.ide
*.tmp
